# Default ignored files
/.idea/workspace.xml
.idea/
.classpath
.project
.settings
=======
bin
.project
.classpath
.settings/
HELP.md
mvnw
mvnw.cmd
target/
src/main/resources/db/h2db
!target/ysell-*.jar